<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Name Generator</title>
    </head>
    <body style="text-align: center">
        <div class="header">
            <h1> NAME GENERATOR</h1>
        </div>
        <div class="centerLarge">
            <h2>Here are some name ideas</h2>
            {% for name in list %}
            <p>{{name}}</p>
            {% endfor %}
        </div>
        <div>
            <button onClick="window.location.reload();">Get more</button>
        </div>
        <form>
            <input type="button" value="Go back!" onclick="history.back()">
        </form>

    </body>
</html>